<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choujiang.mapper.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.choujiang.domain.Organization">
    <id column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_quota" jdbcType="INTEGER" property="orgQuota" />
    <result column="org_joined" jdbcType="INTEGER" property="orgJoined" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    org_code, org_name, org_quota, org_joined
  </sql>
  <select id="selectByExample" parameterType="com.choujiang.domain.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cj_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cj_organization
    where org_code = #{orgCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cj_organization
    where org_code = #{orgCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.choujiang.domain.OrganizationExample">
    delete from cj_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.choujiang.domain.Organization">
    insert into cj_organization (org_code, org_name, org_quota, 
      org_joined)
    values (#{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{orgQuota,jdbcType=INTEGER}, 
      #{orgJoined,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.choujiang.domain.Organization">
    insert into cj_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgQuota != null">
        org_quota,
      </if>
      <if test="orgJoined != null">
        org_joined,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgQuota != null">
        #{orgQuota,jdbcType=INTEGER},
      </if>
      <if test="orgJoined != null">
        #{orgJoined,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.choujiang.domain.OrganizationExample" resultType="java.lang.Long">
    select count(*) from cj_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cj_organization
    <set>
      <if test="record.orgCode != null">
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgQuota != null">
        org_quota = #{record.orgQuota,jdbcType=INTEGER},
      </if>
      <if test="record.orgJoined != null">
        org_joined = #{record.orgJoined,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cj_organization
    set org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      org_quota = #{record.orgQuota,jdbcType=INTEGER},
      org_joined = #{record.orgJoined,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.choujiang.domain.Organization">
    update cj_organization
    <set>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgQuota != null">
        org_quota = #{orgQuota,jdbcType=INTEGER},
      </if>
      <if test="orgJoined != null">
        org_joined = #{orgJoined,jdbcType=INTEGER},
      </if>
    </set>
    where org_code = #{orgCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.choujiang.domain.Organization">
    update cj_organization
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_quota = #{orgQuota,jdbcType=INTEGER},
      org_joined = #{orgJoined,jdbcType=INTEGER}
    where org_code = #{orgCode,jdbcType=VARCHAR}
  </update>
</mapper>